@tailwind base;
@tailwind components;
@tailwind utilities;

.fileinput {
  /* font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px; */
  width: 10em;
  height: 10em;
  
  background-size: cover;
  background-image: url('../../public/upload.png');
} */

.fileinput {
display: none;
}

.preview {
  width: 300px;
  height: 300px;
}


.box {
  width: 20rem;
  height: 20rem;
  background-image: url('../../public/upload.png');
  background-size: cover;
}