@tailwind base;
@tailwind components;
@tailwind utilities;

/* .fileinput::file-selector-button {

  width: 500px;
  height: 500px;
  background-image: url('../../public/upload.png');
} */

.fileinput {
display: none;
}

.preview {
  width: 300px;
  height: 300px;
}


.box {
  width: 20rem;
  height: 20rem;
  background-image: url('../../public/upload.png');
  background-size: cover;
}