.matchSuccessModal {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* right: 40px; */
  /* bottom: 0; */
  background-color: rgba(255, 255, 255, 0.685);
  border-radius: 20px;
  padding: 1.5rem;
  width: 312px;
  height: 10rem;
}

.matchSuccessOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.317);
}
