.KakaomapModal {
  position: absolute;
  /* top: ; */
  /* left: 40px;
  right: 40px; */
  bottom: 0;
  background-color: rgba(242, 234, 242, 1);
  border-radius: 20px;
  padding: 1.5rem;
  width: 100%;
  min-height: 27rem;
}

.KakaomapOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(245, 245, 245, 0.495);
}
