html {
  background-image: url(../../assets/backgroundimg.svg);
  background-size: cover;
}
.btn-white {
  z-index: 3;
  border-radius: 20px;
  width: 17rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: white;
  color: rgb(145, 133, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0.313rem;
  z-index: 5;
}

.btn-white:hover {
  border-radius: 20px;
  width: 17rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  border: 0.1rem solid rgb(145, 133, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0.313rem;
  z-index: 5;
}

.btn-transparent {
  border-radius: 20px;
  width: 17rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  border: 0.1rem solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0.313rem;
  z-index: 5;
}

.btn-transparent:hover {
  border-radius: 20px;
  width: 17rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  border: 0.1rem solid rgb(145, 133, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0.313rem;
  z-index: 5;
}

.logo {
  z-index: 1;
  /* width: 320px;
  height: 320px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  animation: fadeout 3s;
  -moz-animation: fadeout 3s; /* Firefox */
  -webkit-animation: fadeout 3s; /* Safari and Chrome */
  -o-animation: fadeout 3s; /* Opera */
  animation-fill-mode: forwards;
}

.buttons {
  z-index: 2;
  width: 320px;
  height: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  /* Firefox */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  /* Safari and Chrome */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  /* Opera */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
